<p id="notice"><%= notice %></p>

<div>
<strong>Title</strong>
</div>
<%= @survey.title %>

<ol>
<% for question in @survey.questions %>
<div class="question">
<li><%= question.question %></li>

<ul>

<% question.answers.each do |answer| %>

<li><%= radio_button_tag(:answer, answer.answer ) %>
<%= label_tag(:answer_tag, answer.answer ) %></li>

<% end %>
</ul>
</div>
<% end %>
</ol>

<%= link_to 'Edit', edit_survey_path(@survey) %> 
<%= link_to 'Back', surveys_path %>
