Your form has been submitted!
<br><br>
<h2><%= @survey.title %></h2>
<%= @answer.id %>
<br>
<% @survey.questions.each do |q| %>

	<%= q.question %><br>
	<%= @answer %> Fix this
	<br><br>

<% end %>

<%= link_to 'Back', surveys_path %>