<%= form_for(@recorded_answer) do |f| %>
  <% if @recorded_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recorded_answer.errors.count, "error") %> prohibited this recorded_answer from being saved:</h2>

      <ul>
      <% @recorded_answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.hidden_field :user_id, :value => 7 %>
  </div>
  <div class="field">
    <%= f.label :answer_id %><br>
    <%= f.number_field :answer_id %>
  </div>
  <div class="field">
    <%= f.label :survey_id %><br>
    <%= f.hidden_field :survey_id, :value => 3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
