<p id="notice"><%= notice %></p>

  <h1>Which survey do you want to look at?</h1>

  <%= form_tag(controller: 'recorded_answers', action: 'statistics', method: 'post') do %>
    <%= collection_select(:post, :survey_id, Survey.all, :id, :title) %>
  <%= submit_tag "Submit" %>
  <% end %>

<br />

<%= link_to 'Home', "/" %>
