<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recorded_answer.user_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @recorded_answer.answer_id %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @recorded_answer.survey_id %>
</p>

<%= link_to 'Edit', edit_recorded_answer_path(@recorded_answer) %> |
<%= link_to 'Back', recorded_answers_path %>
