<p id="notice"><%= notice %></p>

<h1><%= @survey.first.title %></h1>
<h3>Written by author with ID: <%= @survey.first.person_id %></h3>

<ol>
  <% @questions.each do |question| %>
    <div class="question">
      <li><%= question.question %></li>
      <ul>
        <% @answer_votes.each do |answer| %>
          <% if answer["question_id"] == question.id then %>
            <li><%= answer["answer"] %> ...
              <i>
                (Number of people who chose this: <%= answer["choice_count"] %>;
                <%= (answer["choice_count"].to_f / answer["total"].to_f * 100).round(2) %>%)
              </i>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</ol>

<%= link_to 'Back', recorded_answers_path %>
